# 12 MHz clock
set_io -nowarn clk                 35

# Soft reset (uButton)
set_io -nowarn resetn              10

# RS232
set_io -nowarn io_rx               6
set_io -nowarn io_tx               9
set_io -nowarn io_uart_rxd         6
set_io -nowarn io_uart_txd         9

# LEDs
set_io -nowarn io_ledRed           11
set_io -nowarn io_ledGreen         37

# RGB LED Driver
set_io -nowarn io_ledRGB_red       39
set_io -nowarn io_ledRGB_green     40
set_io -nowarn io_ledRGB_blue      41

# SPI Flash
set_io -nowarn io_flash_clock      15
set_io -nowarn io_flash_enable     16
set_io -nowarn io_flash_data{0}    14
set_io -nowarn io_flash_data{1}    17
set_io -nowarn io_flash_data{2}    12
set_io -nowarn io_flash_data{3}    13

# PMOD 1A
set_io -nowarn io_pmod1a_pin1      4
set_io -nowarn io_pmod1a_pin2      2
set_io -nowarn io_pmod1a_pin3      47
set_io -nowarn io_pmod1a_pin4      45
set_io -nowarn io_pmod1a_pin7      3
set_io -nowarn io_pmod1a_pin8      48
set_io -nowarn io_pmod1a_pin9      46
set_io -nowarn io_pmod1a_pin10     44

# PMOD 1B
set_io -nowarn io_pmod1b_pin1      43
set_io -nowarn io_pmod1b_pin2      38
set_io -nowarn io_pmod1b_pin3      34
set_io -nowarn io_pmod1b_pin4      31
set_io -nowarn io_pmod1b_pin7      42
set_io -nowarn io_pmod1b_pin8      36
set_io -nowarn io_pmod1b_pin9      32
set_io -nowarn io_pmod1b_pin10     28

# PMOD 2
set_io -nowarn io_pmod2_pin1       27
set_io -nowarn io_pmod2_pin2       25
set_io -nowarn io_pmod2_pin3       21
set_io -nowarn io_pmod2_pin4       19
set_io -nowarn io_pmod2_pin7       26
set_io -nowarn io_pmod2_pin8       23
set_io -nowarn io_pmod2_pin9       20
set_io -nowarn io_pmod2_pin10      18